.MenuWrap{
    background-color: indigo;
    font-family: 'Oswald',sans-serif;
    font-size: 1rem;
    min-height:2.758rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.ListItem,
.LastItem{
    color: #ebebeb;
    text-decoration: none;
}
.ListItem{
    margin-left: 1rem;
}
.LastItem{
    margin-left: auto;
}